<main id="main">
    <div class="container-button-power">
        <button #buttonPower class="button-power" (click)="power()">
            <i class="fa-solid fa-power-off"></i>
        </button>
    </div>

    <div class="alert-alarm" *ngIf="alarmActive === 1">
        <span><i class="fa-solid fa-volume-high"></i> Alarma sonando...</span>
        <button type="button" (click)="disableAlarm()"><i class="fa-solid fa-volume-xmark"></i> Detener</button>
    </div>

    <div class="container-times">
        <form action="" class="form-times">
            <div>
                <label for="start">Tiempo de inicio</label>
                <input type="datetime-local" name="start" id="start" #inputElementStart>
            </div>
            <div>
                <label for="end">Tiempo de finalización</label>
                <input type="datetime-local" name="end" id="end" #inputElementEnd>
            </div>
            <button type="button"
                (click)="activeAndDesactiveDateTime(inputElementStart, inputElementEnd)">Guardar</button>
        </form>

        <article class="times-definited">
            <p class="alert" *ngIf="alertActive">No ha sido posible establecer el horario, revise los datos</p>
            <div>
                <strong>Comienza:</strong>
                <span>{{ startDateTime | date: 'medium' }}</span>
            </div>
            <div>
                <strong>Termina:</strong>
                <span>{{ endDateTime | date: 'medium' }}</span>
            </div>
        </article>
    </div>
</main>